.submit-now-container {
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #fefce8;
}

.payment-header {
    font-size: 25px;
    margin-bottom: 20px;
color: #ef4444; 
}

.payment-methods {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.payment-method {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.payment-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.payment-name {
    margin-top: 10px;
    
}

.total-price-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.total-price {
    font-size: 20px;
}
